<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="EdgeExtensions" type="System.Configuration.NameValueSectionHandler" />
    <section name="ChromeExtensions" type="System.Configuration.NameValueSectionHandler" />
    <section name="DriverCapabilities" type="System.Configuration.NameValueSectionHandler" />
    <section name="ChromeArguments" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="environments">
      <section name="ChromeWindows" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="https" />
    <add key="host" value="" />
    <add key="url" value="www.ubs.com" />
    <add key="browser" value="Chrome" />
  </appSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Ocaramba" />
    </stepAssemblies>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  <ChromeArguments>
    <!--<add key="ChromeArgument" value=""/>-->
    <add key="--window-size=1920,1080" value="" />
    <!--<add key="-'-headless" value="" />
    <add key="-'-incognito" value="" />-->
  </ChromeArguments>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>